/* product-page-styles.css */
h1 {
    margin: 1rem auto 4rem;
  }
.product-container{
  max-width: 500px;

}
  
.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px; /* Adjust the max-width for a larger card */
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
  }
  
  .product-card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .product-image {
    width: 100%;
    height: 20em; /* Increase the height for a larger image */
    object-fit:fill;
  }
  
  .product-price {
    color: grey;
    font-size: 22px;
  }
  
  .product-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: var(--col1); /* Make sure --col1 is defined */
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .product-card button:hover {
    opacity: 0.7;
    background-color: black;
    color: azure;
  }
  