nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* box-shadow: ; */
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    box-shadow:0 0 10px 0 rgba(0,0,0,0.2);    


}
button{
    background: none;
    border: none;
}

nav .section-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black; */
    
}

nav svg{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
nav svg:hover{
    color: var(--col1);
}
nav img{
    width: 180px;
    margin: auto   10px;
    margin-left: -5rem;
    
}
nav .searchbar{
    display: flex;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 5px;
    width: 50%;

    box-shadow:0 0 10px 0 rgba(0,0,0,0.2);    

}
nav .searchbar input{
    border: none;
    outline: none;
    width: 100%;
}
nav .searchbar button{
    border: none;
    background-color: transparent;
    
}
nav .searchbar button  :hover{
   border-radius: 50%;
   background-color: var(--col1);
   color: white;
   padding: 2px;
    
}
nav .sideBar{
    position: absolute;
    border: 1px solid black;
    left: 0;
    top:0;
    height: 100vh;
    width:50%;
    /* z-index: 999; */
    background-color: white;
    /* display: none; */
    transform: translateX(-100%);

}
.sideBarElement{
    padding-top: 1rem;
}
nav .section-2 .dropdowns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;    

}
nav .section-2 .searchbar{
    display: none;

}
nav .section-1 .right{
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 10px;
    
}

.ham{
    display: none;
    height: 2rem;
    width: 2rem;
}
.cross{
    height:2.5rem;
    width:2.5rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;

}
nav  .cart{
    position: relative;
    margin: 0 20px;

}
nav .cart .qty{
    background-color: var(--col1);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    top: -15px;
    right: -15px;

}
.slide{
    transform: translateX(0%) !important;
    transition-duration: 1s;
}


@media (max-width:768px){
     
    nav .section-2 .dropdowns{
    display: none;
    }

    nav .section-2 .searchbar{
        
        display: flex;
        width: 100%;

    }

    nav .section-1 .searchbar{
        
        display: none;
    }
    .logo{
        margin: auto;
    }

    .ham{
        display:block;
    }

    
}